useDynLib(IKTrading)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(heikinAshi)
export(hourlyPL)
export(sigAND)
export(stratBoxPlots)
export(ichimoku)
export(osMaxDollar)
export(osDollarATR)
export(lagATR)
export(quandClean)
export(durationStatistics)
export(SIROC)
export(MSR)
export(ERM)
export(OHV)
export(DVO)
export(VCI)
export(agg.chart.ME)
export(stepwiseCorRank)
export(FAAreturns)
export(FAA)
export(EAA)